.homecont {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4a644;
  margin: 0px;
}

.titlecont {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  left: 34vw;
  top: 12vh; */
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  background-color: white;
}
.airplane {
  position: absolute;
  left: 9vh;
  top: 16.3vh;
  width: 80px;
  height: 80px;
  transform: rotate(17deg);
}

.jejutitle{
    font-family: 'WandohopeR';
    position: absolute;
    top: 24vh;
    left: 11.3vh;
    text-align: center;
    font-size: 100px;
    margin: 0px;
    color: #007A0A;
}

.service{
    font-family: 'EliceDigitalBaeum_Bold';
    position: absolute;
    color: #F4A644;
    top: 39vh;
    left: 17.4vh;
}

.tr{
    position: absolute;
    top: 48vh;
    left: 17vh;
    height: 52px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #007A0A;
    color: white;
    border: 2px solid #007A0A;
}
